# Ignore environment variable files
.env

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore IDE/editor config files
.idea/
.vscode/

# Ignore Flask instance folder (if used)
instance/
